<!DOCTYPE html>
<html lang="en">
    <head>
        <title>wishlist</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div id="page-container">
            {% include "navbar.html" %}

            <div id="content-wrap">
                <div>
                    {% with messages = get_flashed_messages() %}
          
                      {% if messages %}
          
                        {% for message in messages%}
                          <div class="flash-message">{{message}}</div>
                        {% endfor%}
          
                      {% endif%}
          
                    {% endwith %}
                </div>
                
                {% block main %}
                {% endblock %}
            </div>
            <footer id="footer">
                <ul>
                    <li><a href="https://www.twitter.com/caradeculpable">twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/fabricio-saavedra-n1271991/">linkedin</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>