{% extends 'base.html' %}
{% block main %}
<!-- poner barra lateral o seccion superior. Recuperar foto e info provista por el usuario-->
<div class="feature">
  <div class="feature-img">
    <img src="/static/images/{{user.id}}.jpg" alt="your handsome/gorgeous face winning at things" class="profile-pic">
  </div>
  <div class="feature-text">
    <ul>
      <li>{{user.username}} is active since {{user.active|datetimeformat}}</li>
      {% if user.social %}
      <li>get in touch through {{user.social}}</li>
      {% else %}
      <li>hasn't add social media info</li>
      {% endif %}
    </ul>
  </div>
</div>

<h2 style="text-align:center;">wishes by {{user.username}}</h2>
{% if user.products|length>0 %}
  <div class="cards-container">
      {% for card in user.products %}
      {% if card in available %}
      <div class="visited-card">
        <h3 class="card-title">{{card.name}}</h3>
        <p>Created: {{card.created|datetimeformat}}</p>
        <div class="card-info-div">
          <div class="count-div">{{counter[(card.id)|string]}}</div>
          <button onclick="window.open('{{card.link}}','_blank');" class="view-btn" type="button">View</button>
        </div>
        <form action="{{url_for('view_user', id=user.id)}}" method="POST">
          <input type="text" name="card_id" value="{{card.id}}"hidden>
          <input type="submit" value="Say Present" class="card-submit-btn">
        </form>
      </div>
      {% endif %}
      {% endfor %}
  </div>

{% else %}
<p>No wishes here [:1]</p>
{% endif %}

{% endblock %}